$nf-bg        :   #F5F5F6;

$nf-assertive :   #FF2D54;
$nf-dark      :   #333333;
$nf-stabled   :   #999999;
$nf-calm      :   #6699CC;
$nf-gray      :   #666666;
$nf-active    :   #4DB6AC;
$nf-light     :   #F1F1F4;
$nf-soft      :   #9B9B9B;
$nf-gentle    :   #F5F5F8;
$nf-slight    :   #D8D8D8;
$nf-sunny     :   #feb64d;
$nf-lottery   :   #DB7A47;
$nf-basic     :   #F4F4F4;
$nf-hot       :   #E5110D;


$nf-floor   : #444;
$nf-classic : #80bd01;